.bg-black {
    background-color: black;
    color: white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.p-1 {
    padding: 10px;
}

.m-1 {
    margin: 10px;
}

.mb-1 {
    margin-bottom: 10px;
}

.square {
    height: 200px;
    width: 200px;
    box-shadow: 2px 2px 5px black;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.small-square {
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px black;
    width: 25px;
    height: 25px;
}

.text-center {
    text-align: center;
}

.text-overflow {
    word-wrap: break-word;
}

.font1 {
    font-size: 3em;
}

.font2 {
    font-size: 1.25em;
}

.pb-3 {
    padding-bottom: 2em;
}